.tab-background {
border-radius:0px!important;
box-shadow:none;
margin:-2px!important; }

.tab-background[selected="true"] {
box-shadow:none!important;
background-image:none!important;
background-color:var(--toolbar-bgcolor)!important; }

#tabs-newtab-button {
border-radius:0px!important;
padding:0px!important;
margin:0px!important; }

#TabsToolbar .toolbarbutton-1 > .toolbarbutton-icon {
border-radius:0px!important; }